<h1 class="list">List Collection</h1>


<table border="1" class = "table">
  <tr>
    <th>
      Type
    </th>
    <th>
      Yards
    </th>
    <th>
      description
    </th>
    <th>
      Store Purchased
    </th>
    <th></th>
  </tr>
  {{#collections}}
  <tr>
    <td><a href="/fabricForm?id={{_id}}">{{typeOf}}</a></td>
    <td>{{yards}}</td>
    <td>{{description.color}}, {{description.sparkly}}</td>
    <td>{{purchased}}</td>
    <td><a href="/deleteFabric/?id={{_id}}">Delete</a></td>
  </tr>
  {{/collections}}

</table>
